:host{
	display: block;
	width: calc(100% - 2.5rem);
	margin-left: 2.5rem;
}
.main-container{
	position: relative;
	width: 100%;
	display: block;
	max-width: 100%;
	border: 1px solid #333;
	transition: 0.3s ease-in;
}
*{ font-family: monospace; }
