<div class='main-hdr'>
	<!-- <div>
		<input id="toggle" type="checkbox">
		<i class="fa fa-bars hdr-burger" (click)="onClick()"></i>
	</div> -->
	<nav class="navMenu">
        <a class="nav-item" routerLink="/dashboard" routerLinkActive="active">D</a>
        <a class="nav-item" routerLink="/builder" routerLinkActive="active">B</a>
        <!-- <a class="nav-item" href=""><i class="fab fa-wpforms"></i></a>
        <a class="nav-item" href=""><i class="fas fa-user-edit"></i></a> -->
    </nav>
</div>